
.tabBq {
    border: 1px dashed #CCCCCC;
    height: 8.5cm;
    width: 7.5cm;
    word-wrap: break-word;
}
.peihuo {
    width: 7.5cm;
    word-wrap: break-word;
}
#peihuo1 {
    border: 1px dashed #CCCCCC;
    height: 7.5cm;
    width: 7.43cm;
}
