@charset "utf-8";
@font-face {
	font-family: 'FontAwesome';
	src: url('/css/font/fontawesome-webfont.eot?v=3.2.1');
	src: url('/css/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
		url('/css/font/fontawesome-webfont.woff?v=3.2.1') format('woff'),
		url('/css/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
		url('/css/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/* CSS Document */

/*
#head { width:100%;
min-width:1200px;
height:34px;
background:#5f789c;
}
#head{
background: url("/images/head/demo04_01.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
	min-width:1200px;
    height: 34px;
}
*/
#head { width:100%;
min-width:1200px;
height:38px;
background:#438EB9;
}

/*
.headProduct { z-index:100;position:absolute; left:10px; float:left; width:106px; height:27px; line-height:20px; padding:0px 11px; background: url(/images/head/bg_headproduct_new.png) no-repeat; cursor:pointer; color:#fff; font-weight:bold;
font-size: 14px;
}
*/
.headProduct{
	z-index:100;position:absolute; left:10px; float:left; width:106px; height:27px; line-height:26px; padding:0px 11px;
	background-color:#60A673; cursor:pointer; color:#fff; font-weight:bold;
	border: 1px solid #60A673;
	border-radius: 3px;
	box-shadow: 0 0 1px #384D50;
	top:-2px;
}
.headProduct i{
	float: right;
	margin-top: 7px;
}
.headHelp .nav.pull-right {
    float: right;
    margin-right: 0;
}
.headHelp .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.ace-nav a {
    color: #0088CC;
    text-decoration: none;
}
.ace-nav {
    height: 100%;
}
.pull-right {
    float: right;
}
.nav {
    list-style: none outside none;
    margin-bottom: 20px;
    margin-left: 0;
}
.ace-nav > li.grey {
    background: none repeat scroll 0 0 #555555;
}

.ace-nav > li.purple {
    background: none repeat scroll 0 0 #892E65;
}

.ace-nav > li.green {
    background: none repeat scroll 0 0 #60A673;
}

.ace-nav > li.light-blue {
    background: none repeat scroll 0 0 #62A8D1;
}

.ace-nav > li:first-child {
    border-left: medium none;
}
.headHelp .nav > li {
    float: left;
}
.headHelp .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right:before {
    left: auto;
    right: 12px;
}
.user-menu li {
    line-height: 20px;
}
.dropdown-menu li > a, .dropdown-submenu > a {
}
.user-menu > li > a {
    padding: 4px 12px;
}
.dropdown-menu > li > a {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-left: 11px;
    padding-right: 11px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}
.headHelp .nav > li > .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.headHelp .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px;
}
.headHelp .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px;
}
.headHelp .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 138px;
    position: absolute;
    top: -6px;
}
.widget-toolbar > .dropdown > .dropdown-menu.pull-right:after, .dropdown-menu.pull-right.dropdown-caret:after {
    left: auto;
    right: 10px;
}
.widget-toolbar > .dropdown > .dropdown-menu:after, .dropdown-menu.dropdown-caret:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.headHelp .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.headHelp .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu.dropdown-closer.pull-right {
    left: auto;
    right: -10px;
}
.ace-nav > li .dropdown-menu {
    z-index: 1031;
}
.dropdown-menu.dropdown-closer {
    left: -10px;
    top: 80%;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu {
    border-radius: 0 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.pull-right {
    float: right;
}
.pull-right {
    float: right;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

li.divider:before {
    content: "";
    display: inline-block;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
li.divider {
    font-size: 0;
    height: 0;
    margin-bottom: 3px;
    margin-top: 3px;
}
.dropdown-yellow li a:hover, .dropdown-yellow li a:focus, .dropdown-yellow li a:active, .dropdown-yellow li.active a, .dropdown-yellow li.active a:hover, .dropdown-yellow .dropdown-submenu:hover > a, .nav-tabs .dropdown-yellow li > a:focus {
    background: none repeat scroll 0 0 #FEE188;
    color: #444444;
}
.widget-toolbar > .dropdown > .dropdown-menu.pull-right:before, .dropdown-menu.pull-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.ace-nav > li {
    background: none repeat scroll 0 0 #2E6589;
    border-left: 1px solid #DDDDDD;
    line-height: 40px;
    max-height: 40px;
    padding: 0;
    position: relative;
}
.grey {
    color: #777777 !important;
}
.purple {
    color: #A069C3 !important;
}
.green {
    color: #69AA46 !important;
}
.light-blue {
    color: #93CBF9 !important;
}
.icon-user:before{content:"\f007";}
.icon-gear:before,.icon-cog:before{content:"\f013";}
.icon-power-off:before,.icon-off:before{content:"\f011";}
.headHelp .nav > li > a {
    color: #777777;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #FFFFFF;
}
.headHelp .nav > li > a, .headHelp .nav > li > a:hover, .headHelp .nav > li > a:focus {
    color: #FFFFFF;
    font-size: 13px;
    text-shadow: none;
}

.nav > li > a {
    display: block;
}
.nav > li > a > img {
    max-width: none;
}
.ace-nav .nav-user-photo {
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    margin: 2px 8px 0 0;
    max-width: 36px !important;
}

.user-info {
    display: inline-block;
    line-height: 15px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 2px;
    vertical-align: top;
    white-space: nowrap;
}
.ace-nav > li > a {
    background-color: rgba(0, 0, 0, 0);
    color: #EEEEEE;
    display: block;
    height: 100%;
    padding: 0 8px !important;
    position: relative;
}
.icon-tasks:before {
    content:"\f0ae";
}

.icon-bell-alt:before {
    content:"\f0f3";
}

.icon-envelope:before {
    content:"\f0e0";
}
.icon-caret-down:before{
	content:"\f0d7";
}
.icon-exchange:before{content:"\f0ec";}
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}
.ace-nav > li > a > [class*="icon-"] {
    color: #EEEEEE;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 20px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    height: auto;
    line-height: normal;
    margin-top: 0;
    vertical-align: baseline;
    width: auto;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.icon-tasks {
    background-position: -384px -144px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/images/head/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}


.ace-nav > li > a > .badge {
    left: 2px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: -4px;
}
.label-grey, .badge-grey {
    background-color: #A0A0A0 !important;
}
.badge {
    background-color: #ABBAC3 !important;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    padding-bottom: 3px;
    padding-top: 1px;
    text-shadow: none;
}
.badge {
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
.label, .badge {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.headPro_drop { position:absolute; left:0px; top:28px; width:145px; padding:2px; background:#fff; border:1px solid #286daf; z-index:100;}
.headPro_drop a { width:127px; height:20px; line-height:20px; text-align:left; padding:1px 3px 1px 15px; display:block; color:#666;}
.headPro_drop a:hover { background:#d9ebfc; height:20px;  display:block; color:#0090e1; text-decoration:none;}


/** 快捷菜单--开始 **/
.headQuickNav { position:absolute; width:600px; float:right; height:38px;right:350px;  min-width: 550px;z-index: 2}
.headQuickNav a { color:#fff;text-decoration:none;}
.headQuickNav ul {}

.headQuickNav ul li { width:auto;float:right; color:#fff; height:34px; line-height:34px; text-align:center;
font-size: 14px;
}
.headQuickNav ul li a:hover{background-color: #66A9D1}
.headQuickNav ul li a {  height:38px;  display:block;padding-left: 10px;padding-right: 10px;}
/** 快捷菜单--结束 **/

.headNav { position:absolute; width:70%; float:left; height:55px; left:165px;min-width: 800px;z-index: 2}
/*
.headNav { position:absolute; width:80%; float:left; height:34px; left:123px;min-width: 1000px;z-index: 2}
*/
.headNav a { color:#555555;}
.headNav ul {}

.headNav ul li { width:auto;
float:left;
color:#fff;
height:52px;
line-height:55px;
text-align:center;
font-size: 14px;
border-bottom: 3px solid #87B87F;
}

.headNav ul li a {  height:55px;  display:block;padding-left: 10px;padding-right: 10px;}
.headNav ul li a:hover {  
	/*
	background:url(/images/head/bg_nav03.gif) right no-repeat!important; 
	display:block; 
	height:55px; 
	*/ 
	background-color:#87B87F;
	color:#FFFFFF;
	text-decoration:none;}
.headNav ul li.current {  background-color:#87B87F; border-radius:2px; }
.headNav ul li.current a { color:#0090e1;}

.headNavA {  
	/*
	background:url(/images/head/bg_nav03.gif) right no-repeat!important;
	*/
	background-color:#87B87F;
	border-left: 1px solid #769F25;
    border-right: 1px solid #769F25;
	box-shadow: 0 0 4px #7D96BA;
	height:55px;
	color:#0090E1;
	text-decoration:none;
}

.topMenu { position:absolute; width:260px; padding:5px; background-color:#87B87F;; border:1px solid #769F25;  border-radius:5px; box-shadow:0px 0px 4px #7d96ba; top:58px; left:0px; z-index:20;}
.topMenu ul { width:260px; }
.topMenu ul.noline { border-bottom:none;}
.topMenu ul li {text-align:left; float:left; width:110px; height:26px; line-height:26px; padding:0px 10px; overflow:hidden;
font-size: 13.5px;
}
.topMenu ul li.noline { background:none;}
.topMenu ul li.title{  background:url(/images/sidebar/icon2.png) 3px 3px  no-repeat;padding-left:20px;;padding-right:0px;
font-size: 12px;
}
.topMenu ul li a { color:#444444;padding-left:0px;padding-right:0px;
}
.topMenu ul li a:hover { color:#FFFFFF!important;  background:none!important;}
.topMenu_cover { background: none repeat scroll 0 0 #87B87F;
    border-left: 1px solid #769F25;
    border-right: 1px solid #769F25;
    height: 9px;
    margin-left: -6px;
    margin-top: -10px;
    position: absolute;
    width: 100%;
    z-index: 50;
}
.topMenu span{color:#555555;font-weight:bold;}
/**
#column { position:relative; width:100%; height:55px; background: url(/images/head/bg_column01.gif) repeat-x; margin-bottom:5px;min-width: 1200px;}
**/
#column {
	float:left;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    display: block;
    line-height: 39px;
    min-height: 40px;
	height:52px;
    position: relative;
	margin-bottom:5px;
	width:100%;
	min-width: 1200px;
	border-bottom: 3px solid #75B5E6;
}

.logo2 { 
	float:left; 
	width:145px; 
	height:52px; 
	background: url(/images/head/zjs_logo.png) no-repeat;
	background-size:160px;
	background-position:-3px 0px; 
	cursor:pointer;
}

.nav2 { float:left; width:840px; height:52px; margin-left:25px; padding-top:3px; z-index:2; font-size: 11px;}

.nav2 a { color:#666;}
.nav2 a:hover { color:#0090e1; text-decoration:none;}
.nav2 dl { float:left; width:61px; height:44px; background: url(/images/head/bg_nav01.gif) right bottom no-repeat; padding:0px 20px;}
.nav2 dl dt { width:61px; margin-top:4px; color:#4474b2; height:25px;  text-align:center;}
.nav2 dl dt img { width:25px;height: 25px}
.nav2 dl dd { width:60px; height:18px; line-height:18px;  text-align:center; padding-top:1px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
font-size:12px;
}
.nav2 dl a { border:none;text-align: center}
.nav2 dl a:hover,.nav2 dl a.current { background:url(/images/head/bg_nav02.png) no-repeat;  display:block; border:none;}
.nav2 dl a:-webkit-any-link{display:block;}

.main_quit { position:absolute; width:260px; float:right; height:44px; padding-top:27px; text-align:right; right:20px; top:27px;}
.main_quit a { color:#666;}
.main_quit a:hover { color:#666;}