.sys_help{
    border-radius: 5px 0 0 0;
    border-right: 1px solid #CCCCCC;
    color: #0090E1;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    line-height: 30px;
    padding: 0 20px;
    cursor: pointer;
    font-size:15px;
    float:right;
    display: block;
}
#stateContent h3{
	padding-left: 5px;
	padding-bottom: 2px;
}
#stateContent p{
	padding-left: 15px;
	padding-bottom: 2px;
}
#stateContent img{
	border: 1px solid #5DB6D4;
}
.noExist {
width: 700px;
padding-left: 26%;
margin: 100px 0px 100px 0px;
}
.noExist_pic {
float: left;
}
.noExist_text {
float: left;
font-size: 26px;
padding-left: 20px;
padding-top: 20px;
line-height: 36px;
font-family: "Microsoft YaHei",'微软雅黑','Simsun',Verdana,Arial,Helvetica,sans-serif;
color: #666;
}

/**  系统初始化指引，样式--开始  **/
.nav-title {
    background: url("/images/help/base/i-tool.png") no-repeat scroll left center #B3C833;
    color: #FFFFFF;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    padding-left: 60px;
	/*
    margin-top:3px;
    */
    width: 141px;
}
.usernav {
	overflow-x: hidden;
	overflow-y: auto;
	height:380px;
	max-height: 400px;
	width: 202px;
	/*
    position: absolute;
    */
}
.usernav .usernav-list1 {
    box-shadow: 1px 1px 3px #999999;
    padding-bottom: 0;
}
ul {
    list-style: none outside none;
}
.usernav ul {
    background: none repeat scroll 0 0 #F4F4F4;
    padding: 5px 0;
    width: 200px;
}
.usernav ul li .hover {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #00A99D;
}
.usernav ul li :hover{
	background: none repeat scroll 0 0 #E6E6E6;
    color: #00A99D;
}
.usernav ul li a {
    color: #666666;
    display: block;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}


.usernav .usernav-list2 {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 5px 0 5px 50px;
    width: 150px;
}


.usernav .usernav-list2 li a {
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 5px 0 5px 5px;
}

.usernav .usernav-list2 li a span {
    font-size: 16px;
    margin: 0 5px 0 0;
}
/**  系统初始化指引，样式--结束  **/
