<script language="javascript" src="/lodop/LodopFuncs.js"></script>
<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop32.exe"></embed>
</object>
<script> 
	<{include file='common/views/print-order-lodop/test.js'}>
</script>
<div id='wrap' title='订单打印中，请稍候。。。'></div>
<button id='A4' class='print'>A4</button>
<button id='B4' class='print'>B4</button>
<button id='B4' class='print'>C4</button>
<button id='pickup' class='print'>pickupPrint</button>
<button id='pickup' class='preview'>pickupPreview</button>
<button id='pickup' class='setup'>pickupSetup</button>
<button class='print-batch'></button>
<button class='print-batch-one-piece'>批量一票一件下架</button>
<button class='print-batch-mult-piece'>批量一票多件下架</button>
<input type='text' id='num' value='' placeholder='请输入需要打印的份数'>